/*  -----------------------------------------------------  */
/*  ----------------- Importar Fuentes ------------------  */
/*  -----------------------------------------------------  */

@font-face {
    font-family: 'Dosis';
    src: url('font/Dosis/Dosis-ExtraLight.ttf');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Dosis';
    src: url('font/Dosis/Dosis-Light.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Dosis';
    src: url('font/Dosis/Dosis-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Dosis';
    src: url('font/Dosis/Dosis-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Dosis';
    src: url('font/Dosis/Dosis-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Dosis';
    src: url('font/Dosis/Dosis-ExtraBold.ttf');
    font-style: normal;
    font-weight: 800;
}

/*  -----------------------------------------------------  */
/*  --------------------- Variables ---------------------  */
/*  -----------------------------------------------------  */

:root {
    --fuenteBase : 'Dosis';
    --bgColor : #ffffff;
    --bgColorNav : #3164af;
    --colFuenNor : #ffffff;
    --bgBtnForm : #277dff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuenteBase);
    list-style: none;
    text-decoration: none;
    text-align: center;
}   

/*  -----------------------------------------------------  */
/*  ------------------- General Style -------------------  */
/*  -----------------------------------------------------  */

body, header, .container, section,  main, footer {
}

h1 {
    font-weight: 500;
    font-size: clamp(2.5rem, 3.2vw, 6vw);
    text-align: center;
}

h2 {
    font-weight: 500;
    font-size: clamp(2.3rem, 3vw, 6vw);
}

.lblNormal {
    font-weight: 500;
    text-align: left;
}

.textCenter {
    text-align: center;
}

body {
    background-color: var(--bgColor);
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
}

header, main, footer {
    display: flex;
    flex: 1 1 100vw;
    justify-content: center;
    align-items: center;
}

.mainCon {
    margin-top: clamp(10vh , 9.5vw , 11vw);
}


header, footer {
    background-color: rgb(137, 157, 193);
}

footer {
    height: 25vh;
    background-color: var(--bgColorNav);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    align-items: space-between;
    justify-content: space-between;

}

.container {
    width: 90%;
    height: 100%;
}


/*  -----------------------------------------------------  */
/*  --------------------- Navigation --------------------  */
/*  -----------------------------------------------------  */

header {
    /* height: 22vh; */
    height: clamp(10vh , 9.5vw , 11vw);
    /* height: calc(21vh - 1rem); */
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--bgColorNav);
}

header > .mainMenu {
    display: flex;
    justify-content: center;
}

header > .mainMenu > ul {
    width: 100%;
    font-size: clamp(0.8rem , 2vw , 3vw);
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainMenu > ul > li {
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navLink {
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLink:hover {
    text-decoration: underline;
    text-shadow: -1.5px 1px 1px rgb(109, 148, 165);
}

.btnCons {
    background-color: var(--colFuenNor);
    border-color: transparent;
    width: 10vw;
    height: 4vw;
    font-weight: 500;
    color: var(--bgColorNav);
    border-width: 2px 4px;
    border-radius: 20px;
}

.btnCons:hover {
    /* box-shadow: 2px 2px 1px rgb(255, 255, 193); */
    box-shadow: -1px 1px 4px 1px rgba(212,140,17,1);
}

.navLogo > img {
    /* height: 8.5vh; */
    height: clamp(5rem , 10vh , 15vh);
    /* width: 19vw; */
    width: clamp(5rem , 19vw , 30vw);
    object-fit: contain;
}



/*  -----------------------------------------------------  */
/*  ------------------ Main Container -------------------  */
/*  -----------------------------------------------------  */


.mainCon {
    flex-wrap: wrap;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100vw;
    height: auto;
    background-color: rgb(254, 200, 162);
}

.contHome { 
    height: auto;
    width: 100%;
    background-image: url('../img/Fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
}

.home {
    margin: 5rem auto;
    display: grid;
    height: auto;
    gap: 2vh;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 450px), 1fr));
    grid-template-rows: repeat(auto-fit, minmax(min(100%, 450px), 1fr));
}

.contForm, .contInfoHome {
    width: 100%;
    height: auto;
    display: grid;
    justify-items: center;
    align-items: center;
}

form {
    width: 85%;
    height: auto;
    background-color: var(--colFuenNor);
    display: grid;
    justify-items: stretch;
    align-items: center;
    gap: 1vw;
    padding: 2.5vw;
}

.infoHome {
    width: 85%;
    display: grid;
    justify-items: center;
    gap: 1vw;
}

.infoHome > p {
    font-size: clamp(1.5rem, 2vw, 5vh);
    font-weight: 300;
}

form > * {
    justify-self: center;
    width: 100%;
}

form label {
    font-size: clamp(1vh, 3vh, 5vh);
}

form > h1, form > label {
    width: 80%;
}

.impGroup {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1vh;
}

form > .impGroup > label {
    font-size: clamp(1vh, 3vh, 5vh);
}

.impGroup > *{
    flex: 1 1 100vw;
}

.btnForm {
    width: 50%;
    height: 8vh;
    font-size: clamp(1vh, 3vh, 5vh);
    background-color: var(--bgBtnForm);
    color: var(--colFuenNor);
    border: transparent;
    border-width: 2px 4px;
    border-radius: 20px;
}

.impGroup > select, .impGroup > input {
    height: 4.5vh;
}

.lblTextSubti {
    font-size: clamp(1vh, 3vh, 5vh);
}



/*  -----------------------------------------------------  */
/*  ------------------ About Container ------------------  */
/*  -----------------------------------------------------  */


.contAbout {
    background-color: var(--bgColor);
    width: 100%;
    height: auto;
}

.about {
    height: auto;
    display: grid;
    grid-template-rows: 1fr 3fr;
    gap: 2vh;
}

.contTitAbo, .contInfoImg {
    width: 100%;
    height: 100%;   
    display: grid;
    justify-content: center;
    align-content: center;
}

.contInfImgAbo {   
    display: flex; 
    flex-wrap: wrap;
    row-gap: 20px;
    flex: 1 1 auto;
/*     grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 450px), 1fr)); */
}

.contInfoAbo, .contImgAbo {
    flex: 1 1 450px;
}

.contInfoAbo {
    display: grid;
    justify-items: center;
    align-content: center;
}

.contInfoAbo > p {
    width: 80%;
    height: 90%;
}

.contImgAbo {
    width: 100%;
    grid-area: imgAbo;
}

.contImgAbo > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*  -----------------------------------------------------  */
/*  ------------------- Info Container ------------------  */
/*  -----------------------------------------------------  */

.contInfo {
    background-color: var(--bgColor);
    width: 100%;
    height: 1500px;
    margin-top: 10vh;
}

.info {
    height: 2500px;
    display: grid;
    grid-template-rows: 11vh repeat(auto-fit, minmax(min(100%, 22vh), 1fr)) 11vh 1fr;
    gap: 2vh;
}

.contInfInfo, .contInfEtaInfo, .contInfInfo2, .contImgInf {
    display: grid;
    justify-content: center;
    align-content: center;
}

.contInfEtaInfo {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
    gap: 2vh;
}

.contInfEta1, .contInfEta2, .contInfEta3 {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 4vh;
}

.contInfEta1 > p, .contInfEta2 > p, .contInfEta3 > p {
    font-weight: 700;
    font-size: clamp(2.3rem, 3vw, 6vw);
}

.contImgInf {
    width: 90%;
    height: auto;
    display: grid;
    grid-auto-rows: auto;
    gap: 2vh;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
    justify-self: center;
}

.contImgInf > img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    justify-self: center;
}


/*  -----------------------------------------------------  */
/*  ----------------- Question Container ----------------  */
/*  -----------------------------------------------------  */



.contQuestion {
    background-color: var(--bgColor);
    width: 100%;
    height: auto;
}

.contQuestions {
    height: auto;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
    gap: 2vh;
    justify-items: center;
    align-items: center;
}

.question1, .question2, .question3, .question4, .question5 {
    display: grid;
    width: 90%;
    justify-content: center;
    align-content: center;
}

.question1 > h2 {
    margin-bottom: 5vh;
}

.question1 > * {
    width: 100%;
}

.parrNumber {
    width: 4.6%;
    justify-self: center;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--colFuenNor);
}

.parrNumber {
    background-color: var(--bgBtnForm);
}


.TitParNeg {
    font-size: clamp(1.2rem, 3vh, 7vh);
    font-weight: 700;
}

.txtParNeg {
    font-size: clamp(1rem, 3vh, 7vh);
}
